body {
    display: flex;
    align-items: center;
    background-color: rgb(245, 193, 96);
    font-family: 'Fira Mono', monospace;
    width: 100vw;
    height: 100vh;

}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(255, 253, 253);
    margin: 0 auto;
    width: 60vw;
    height: 75vh;
    border-radius: 15px;
}

.dropZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
}

.title-dropBox {
    text-transform: uppercase;
}

.dropBox {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgba(0, 0, 0, 0.719) 2px;
    width: 100%;
    height: 55%;
    border-radius: 10px;
    border-style: dashed;
    background-color: rgba(224, 213, 213, 0.384);
    flex-direction: column;
    gap: 1rem;
}

.dropBox button {
    font-family: 'Fira Mono';
    background-color: rgb(247, 183, 105);
    border: solid rgba(255, 255, 255, 0) 1px;
    border-radius: 5px;
    padding: 0.5rem;
}

.dropBox button:hover {
    cursor: pointer;
}

.downloadZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.documentZone {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fileName {
    font-size: 20px;
    font-family: 'Fira Mono';
}

.docDownloaded {
    text-align: center;
    width: 50px;
}

.iconoDoc {
    width: 50px;
}

.uploadZone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Upload {
    color: white;
    background: rgb(0, 140, 255);
    overflow: hidden;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-animation: progress-bar 2s;
    -moz-animation: progress-bar 2s;
}

.Upload div {
    border: 1px solid rgb(0, 140, 255);
    border-radius: 14px;
}

.newDoc {
    display: flex;
    flex-direction: column;
    align-items: stretch
}


/* ANIMACIONES */
@-webkit-keyframes progress-bar {
    0% {
        width: 0;
    }
}

@-moz-keyframes progress-bar {
    0% {
        width: 0;
    }
}